<!DOCTYPE HTML>
<!--
	Greatness by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://FreeHTML5.co
-->
{% extends 'base/main.html' %}
{% load static%}
{% block content %}
<html>
	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url({% static 'base/images/img_1.jpg' %});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Get In Touch</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
</html>
{% endblock content %}