<!DOCTYPE HTML>
<!--
	Greatness by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://FreeHTML5.co
-->
{% extends 'base/main.html' %}
{% load static%}
{% block content %}
<html>
	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url({% static 'base/images/img_bg_2.jpg' %});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Experience</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div id="gameDev">
		<div id="gtco-features">
			<div class="gtco-container">
				
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Game Developer</h2>
					</div>
				</div>

				<div class="row animate-box">
					<div>	
						<div>
							<h2>Game Developer Intern | 2020 Jun - 2020 Dec </h2>
							<p>Unity game developer intern at <a href="https://fairplaystudios.net">FairPlay Studios</a>; The <a href="https://play.google.com/store/apps/details?id=com.NOQ.TheLandBeneathUs">Land Beneath Us</a> project</p>
						</div>
						<span />
						<div class="row">
							<div class="col-md-6">
								<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-arrow-right"></i>
									</span>
									<div class="feature-copy">
										<h3>Game Developer</h3>
										<p>Write a game in C# language.</p>
									</div>
								</div>

								<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-arrow-right"></i>
									</span>
									<div class="feature-copy">
										<h3>Quality Assurance</h3>
										<p>Work as a quality assurance for Fallen Knight game</p>
									</div>
								</div>

								<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-arrow-right"></i>
									</span>
									<div class="feature-copy">
										<h3>Shader artist</h3>
										<p>Work as a shader artist for The Land Beneath Us game and some of FairPlay Studios's project</p>
									</div>
								</div>

							</div>

							<div class="col-md-6">
								<div class="gtco-video gtco-bg" style="background-image: url({% static 'base/images/img_lbu.jpg' %}); ">
									<a href="https://www.youtube.com/watch?v=ZZajq0XKVuI" class="popup-vimeo"><i class="icon-video"></i></a>
									<div class="overlay"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row animate-box">
						<div>
							<h2>Finding In Curve project | Global Game Jam 2020 </h2>
							<p><a href="https://globalgamejam.org/2020/games/finding-curve-4">FINDING IN CURVE</a> is an unity PC game project; A duo player side-scrolling game which is focused on bosses fight.</p>
						</div>
					</div>

					<div class="row animate-box">
						<div>
							<h2>Super Fish | 2020 </h2>
							<p><a href="https://bit.ly/2xlZ1Vz">Super Fish</a> is an endless game that mimic the Flappy Bird game with aquatic theme.</p>
						</div>
			
					</div>
					
					<div class="row animate-box">
						<div>
							<h2>Fruit Eater 2077 | SECOND RUNNER-UP, GAMING DEV BOOTCAMP 2019 </h2>
							<p>Fruit Eater 2077 is an AR Mobile game made with Unity.</p>
						</div>
						
						<span class="img-container">
							<img class="gtco-video" src="{% static 'base/images/img_f2077_1.jpg' %}" alt="">
						</span>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="webDev">
		<div id="gtco-features-2">
			<div class="gtco-container">
				
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Web Developer</h2>
					</div>
				</div>
					<div class="row animate-box">
						<div>
							<h2>Junior Backend Developer | 2019 Sep - 2020 Feb</h2>
							<p>Junior Backend Developer at <a href="https://mark8.co/">Mark8.co</a></p>
							<p>- CI/CD with CircleCI</p>
							<p>- Firebase Realtime Database</p>
							<p>- Website crawler</p>
							<p>- Google Cloud Platform</p>
						</div>
					</div>

					<div class="row animate-box">
						<div>
							<h2>Full-stack Web Developer Intern | 2019 Jun - 2019 Aug </h2>
							<p>Full-stack Web Developer Intern at <a href="https://www.noburo.co/">Noburo</a>
								Noburo is a website for financial institutions, regarding loans, calculate and store users data</p>
							<p>- RESTful API</p>
							<p>- Website UI</p>
							<p>- SMS messaging</p>
							<p>- Store data to PostgreSQL db</p>
						</div>
					</div>

					<div class="row animate-box">
						<div>
							<h2>PERFECTO ONLINE BOOK STORE project | 2019</h2>
							<p><a href="https://github.com/neung123/Perfecto_Online_Book_Store">PERFECTO ONLINE BOOK STORE</a> is a web application which has an OLTP part for customers and data
								warehouse part for the business owner</p>
						</div>
					</div>
			</div>
		</div>
	</div>

	<div id="artist">
		<div id="gtco-features">
			<div class="gtco-container">
				
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Artist</h2>
					</div>
				</div>

			<div class="row animate-box">
				<span class="img-container">
					<img class="img-round" src="{% static 'base/images/img_f2077_2.jpg' %}" alt="">
				</span>

				<span class="img-container">
					<img class="img-round" src="{% static 'base/images/img_fc_1.jpg' %}" alt="">
				</span>

				<span class="img-container">
					<img class="img-round" src="{% static 'base/images/img_kubg_1.jpg' %}" alt="">
				</span>

			</div>
		</div>
	</div>
			</div>
		</div>
	</div>
</html>
{% endblock content %}